module.exports = {
    endPointUrl: 'https://www.binance.com/api/',
    APIKey: 'E9ENi8ZSfEHs7ixegPajYTeWgVgr0Ofzy2eNUrOzOEoBg0eyp8Q5MiWPJ7DXiX0o',
    secretKey: '5qvaVs5ew8cnLjbM5Iss642UJMcNnUTPqDH7uikk70hufKD42vU8mgToOXzQGzlz'
};
